
<table>
  <tr>
    <th>A Listing of All Courses</th>
  </tr>


  <% @course_assignments.each do |assignment| %>

    <tr>
      
         <td> Assignment Type: <%= assignment.assignment_type %></td>
          <td>Due date: <%= assignment.due_date %></td>
          <td> <%= link_to "show", course_assignment_path(@course, assignment)%> </td>
    </tr>
  <% end %>
</table>

</table>


<h2>Please enter new assignments here</h2>
 
<%= form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>
    <ul>
    <% @assignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :assignment_type %><br>
    <%= f.text_field :assignment_type %>
  </p>
 

<p>
    <%= f.label :date_assigned %><br>
    <%= f.text_field :date_assigned %>
</p>

<p>
    <%= f.label :due_date %><br>
    <%= f.text_field :due_date %>
</p>


  <p>
    <%= f.submit %>
  </p>

<% end %>
 